/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, h4, h3, p,
 form, fieldset, label, textarea,
 button, article, footer, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: inherit;
   font-family: inherit;
   box-sizing: content-box;;
   color: inherit;
   text-align: inherit;
   text-decoration: none;
   background: transparent;
   box-shadow: none;
 }

 input:focus,
 select:focus,
 textarea:focus,
 button:focus {
     outline: none;
 }

 body {
   text-decoration: none;
   font-family: sans-serif;
   height: 100%;
   box-sizing: content-box;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   overflow: auto;
   background: #444444;
 }

 ul {
   list-style: none;
 }

 h1 {
   font-size: 36px;
 }



  /*/ CLEARFIX /*/

 .group:after {
    content: "";
    clear: both;
    display: block;
  }

/*/ HEADER /*/

.csscape-header {
  color: white;
  height: 40px;
  background: #222222;

}

/*/ INTRO /*/

.intro-div {

  z-index: 1999;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;

}

.intro-div:hover {
  cursor: pointer;
}

.intro-text {
  padding: 20px;
  z-index: 2000;
  position: absolute;
  margin: auto;

  top: 50px;
  left: 150px;

  height: 150px;
  width: 640px;
  background: beige;
  text-align: center;
  font-family: fantasy;
}




/*/ PRISON-BACKDROP /*/

.prison-background {
  margin: auto;
  position: relative;
  background: #aaaaaa;
  height: 600px;
  width: 1000px;
}

.prison-wall {
  position: relative;
  margin: auto;
  width: 600px;

  height: 500px;
  background: #999999;
}

.prison-floor {
  background: #bbbbbb;
  margin: auto;
  width: 80%;
  height: 100px;
}

.prison-wall-sidecorner-left {
  border-top: 50px solid #aaaaaa;
  border-left: 100px solid #aaaaaa;
  border-right: 100px solid #bbbbbb;
  border-bottom: 50px solid #bbbbbb;

  float: left;
}

.prison-wall-sidecorner-right {

  float: right;
  border-top: 50px solid #aaaaaa;
  border-right: 100px solid #aaaaaa;
  border-left: 100px solid #bbbbbb;
  border-bottom: 50px solid #bbbbbb;

}

/*/ PRISON DOOR /*/

.prison-door {
  border-radius: 1px;
  position: absolute;
  bottom: 0;
  left: 200px;

  background: #3F250B;
  height: 300px;
  width: 200px;
}

.door-handle-div {
  position: absolute;
  top: 140px;
  right: 10px;

  border-radius: 2px;
  background: #999999;
  height: 40px;
  width: 30px;
}

.door-handle-div:hover {
  cursor: pointer;
}

.door-key-hole {
  position: absolute;
  top: 5px;
  left: 6px;

  background: black;


  height: 6px;
  width: 5px;

  border-radius: 50%;
}

.door-key-hole-bottom {
  position: absolute;
  top: 10px;
  left: 7px;

  background: black;

  height: 6px;
  width: 3px;

}

.door-handle {
  position: absolute;
  right: 5px;
  top: 5px;

  height: 30px;
  width: 6px;

  border-radius: 3px;

  background: grey;
}

.prison-door-opening {
  z-index: 10;
  width: 0;
  height: 250px;
  border-top: 25px solid black;
  border-left: 150px solid transparent;
  border-right: 50px solid black;
  border-bottom: 25px solid #111111;
}

.prison-door-window {
  position: absolute;
  right: 60px;
  top: 30px;
  height: 75px;
  width: 75px;
  background: black;
  border-top: 2px solid #5F250B;
  border-right: 5px solid #2F250B;
  border-bottom: 2px solid #5F250B;
  border-left: 5px solid #2F250B;
}

.bar {
  position: absolute;
  top: -2px;
  width: 0;
  height: 78px;
  border-right: 5px solid #999999;
  border-left: 5px solid #999999;
  border-radius: 3px;
}

.bar-1 {
  left: 7px
}

.bar-2 {
  left: 32px;

}

.bar-3 {
  left: 57px;
}

/*.prison-door-window-open {
  transform: scale(1, 0.9);
  position: absolute;
  right: 60px;
  top: 30px;
  height: 75px;
  width: 75px;
  background: black;
  border-top: 5px solid #5F250B;
  border-right: 5px solid #2F250B;
  border-bottom: 5px solid #5F250B;
  border-left: 5px solid #2F250B;
}*/

.prison-door-window-open-top {
  position: absolute;
  right: 80px;
  top: 35px;
  height: 50px;
  width: 60px;
  background: black;
  border-top: 2px solid #5F250B;
  border-right: 8px solid #2F250B;
  border-bottom: none;
  border-left: none;
  transform: skewy(10deg);
}

.prison-door-window-open-bottom {

  position: absolute;
  right: 80px;
  top: 60px;
  height: 50px;
  width: 60px;
  background: black;
  border-top: none;
  border-right: 8px solid #2F250B;
  border-bottom: 2px solid #5F250B;
  border-left: none;

  /*transform: skewy(-10deg);*/
}

.bar-open {
  position: absolute;
  top: -2px;
  width: 0;
  border-right: 5px solid grey;
  border-left: 5px solid #999999;
  border-radius: 5px;
}

.bar-1-open {
  left: 5px;
  height: 82px;
}

.bar-2-open {
  left: 25px;
  height: 77px;
  border-right: 4px solid grey;
  border-left: 5px solid #999999;

}

.bar-3-open {
  left: 45px;
  height: 73px;
  border-right: 4px solid grey;
  border-left: 4px solid #999999;
}


/*/ PRISON BED /*/

.prison-bed-div {
  position: absolute;
  right: 50px;
  top: 290px;

  height: 300px;
  width: 300px;
}

.head-board {
  border: 10px solid grey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
  position: absolute;
  bottom: 40px;
  right: 75px;
  height: 105px;
  width: 180px;
}

.head-board-bars {
  border-top: 45px dashed transparent;
}

.footer-legs {
  border: 10px solid grey;
  border-top: 5px solid grey;
  border-bottom: none;

  position: absolute;
  bottom: 0;
  right: 0;
  height: 45px;
  width: 180px;
}


.top-covers {
  border-top-left-radius: 1px;
  border-top-right-radius: 2px;
  transform: skewX(70deg);
  position: absolute;
  bottom: 95px;
  right: 35px;
  background: #7F654B;
  height: 25px;
  width: 200px;

}

.side-covers {
  z-index: 9;
  border-top-left-radius: 2px;
  transform: skewy(20deg);
  position: absolute;
  top: 193px;
  right: 200px;
  background: #7F654B;
  height: 80px;
  width: 70px;
}

.side-covers-right {
  border-top-left-radius: 2px;
  transform: skewy(20deg);
  position: absolute;
  top: 193px;
  right: 0;
  background: #7F654B;
  height: 80px;
  width: 70px;
}

.top-covers-moved {
  border-top-left-radius: 1px;
  border-top-right-radius: 2px;
  transform: skewX(70deg);
  position: absolute;
  top: 180px;
  right: 55px;
  background: #7F654B;
  height: 11px;
  width: 200px;

}

.side-covers-moved {
  border-top-left-radius: 2px;
  transform: skewy(20deg);
  position: absolute;
  top: 185px;
  left: 30px;
  background: #7F654B;
  height: 80px;
  width: 30px;
}
.side-covers-right-moved {
  border-top-left-radius: 2px;
  transform: skewy(20deg);
  position: absolute;
  top: 185px;
  left: 230px;
  background: #7F654B;
  height: 80px;
  width: 30px;
}

.bed-top {
  border-top-left-radius: 1px;
  border-top-right-radius: 2px;
  transform: skewX(70deg);
  position: absolute;
  top: 180px;
  right: 35px;
  background: #dFd5cB;
  height: 25px;
  width: 200px;
}

.bed-side {
  border-bottom: 5px solid grey;
  border-top-left-radius: 2px;
  transform: skewy(20deg);
  position: absolute;
  top: 193px;
  right: 200px;
  background: #dFd5cB;
  height: 45px;
  width: 70px;
}

.foot-of-bed {
  border-radius: 2px;
  position: absolute;
  bottom: 50px;
  right: 0;
  background: #dFd5cB;
  height: 44px;
  width: 199px;
  border: 1px dashed #cFc5bB;
}
.bed-clicker {
  z-index: 15;
  position: absolute;
  bottom: 65px;
  right: 250px;
  transform: skewY(20deg);
  background: transparent;
  height: 25px;
  width: 25px;
}

.bed-clicker:hover {
  cursor: pointer;
}

.moved-top-covers {
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 6px;
  background: #dFd5cB;
  border-top: 5px solid #856a52;
  width: 200px;
  height: 9px;
  /*border-top: 5px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 5px solid #dFd5cB;
  border-left: 101px solid #dFd5cB;*/
}

.moved-side-covers {
  position: absolute;
  border-right: 1px dashed #cFc5bB;
  bottom: 0;
  right: 0;
  background: #dFd5cB;
  height: 47px;
  width: 20px;
  border-left: 20px solid #856a52;
  border-top-left-radius: 10px;
}
 /*/ LAMP /*/

.lamp-container {
  position: absolute;
  top: 300px;
  left: 100px;
}

.lamp-wall-mount {
  border-radius: 50%;
  height: 10px;
  width: 0;
  border: 5px solid #B5A642;

}

.lamp-wall-buttress {
  position: absolute;
  top: 0;
  left: 5px;
  border-bottom-right-radius: 10px;
  height: 10px;
  width: 10px;
  border-right: 5px solid #B5A642;
  border-bottom: 5px solid #B5A642;

}

.lamp-bulb-bottom {

}

.lamp-bulb-on {
  position: absolute;
  top: -12px;
  left: 12px;

  border-radius: 50%;
  border: 7px solid #FFF9D0;

  box-shadow: 0px 0px 80px 30px #FFFFFF;
}

.lamp-bulb-out {
  position: absolute;
  top: -12px;
  left: 12px;

  border-radius: 50%;
  border: 7px solid #cccccc;

}

/*/ LIGHT SWITCH /*/

.switch-box {

  position: absolute;
  top: 300px;
  left: 170px;
  border-radius: 1px;

  height: 20px;
  width: 10px;
  background: #F0F0E0;
}

.switch-box:hover {
  cursor: pointer;
}

.switch-toggle {

}

.switch-box-dark {
  z-index: 11;
  position: absolute;
  top: 300px;
  left: 170px;
  border-radius: 1px;

  height: 20px;
  width: 10px;
  background: #808070;
}

.switch-box-dark:hover {
  cursor: pointer;
}



/*/ DARKEN ROOM /*/

.darken-room {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.hidden-notes {
  font-family: fantasy;
  color: white;
  position: absolute;
  top: 160px;
  left: 470px;
  letter-spacing: 4px;
}

/*/ CREEPY EYES /*/

.creepy-eyes-div {
  position: absolute;
  top: 300px;
  left: 470px;
  z-index: 12;
  top: 300px;
  left: 170px;
}

.left-eye {
  z-index: 12;
  width: 10px;
  transform: skewy(20deg);
  top: -50px;
  left: 310px;
  position: absolute;
  border-radius: 50%;
  border-bottom: 3px solid red;
  border-top: 5px solid transparent;


}

.right-eye {
  z-index: 12;
  width: 10px;
  transform: skewy(-20deg);
  top: -50px;
  left: 335px;
  position: absolute;
  border-radius: 50%;
  border-bottom: 3px solid red;
  border-top: 5px solid transparent;

}

/*/ POSTER /*/

.poster-div{
  position: absolute;
  top: 250px;
  right: 50px;

  height: 150px;
  width: 100px;
  background: #FFFFF0;

  transform: skewy(15deg);

}

.poster-div-top{
  position: absolute;
  top: 200px;
  right: 50px;

  height: 100px;
  width: 100px;
  background: #FFFFF0;
}

.poster-marker {
  font-size: 6px;
  position: absolute;
  right: 145px;
  top: 200px;
  z-index: 112;
  color: #FFFFF0;
}

.poster-marker:hover {
  cursor: default;
}

.poster-clicker {
  z-index: 20;
  position: absolute;
  top: 200px;
  right: 125px;

  background: transparent;
  height: 25px;
  width: 25px;
}

.poster-clicker:hover {
  cursor: pointer;
}


.poster-corner-peeled {
  position: absolute;
  border-top: 60px solid #aaaaaa;
  border-bottom: 60px solid white;
  border-right: 50px solid white;
  border-left: 50px solid #aaaaaa;

  transform: skewy(10deg);

  right: 50px;
  top: 190px;
}

.poster-corner-peeled-overlay {
  position: absolute;
  border-top: 60px solid transparent;
  border-bottom: 60px solid white;
  border-right: 50px solid white;
  border-left: 50px solid transparent;

  transform: skewy(10deg);

  right: 50px;
  top: 190px;
}

.poster-corner-peeled-overlay-new {
  position: absolute;
  border-top: 101px solid transparent;
  border-bottom: 55px solid transparent;
  border-right: 93px solid transparent;
  border-left: 84px solid white;

  transform: skewy(10deg);
  transform: rotate(40deg);
  right: -57px;
  top: 220px;
}

/*/ SAFE /*/
.safe-div {
  position: absolute;
  right: 100px;
  top: 200px;

  height: 100px;
  width: 100px;

}

.safe-face-top {
  position: absolute;
  top: 17px;
  right: 0;
  height: 10px;
  width: 45px;
  background: #999999;

  border-right: 5px solid grey;
  border-radius: 3px;

}

.safe-face {
  position: absolute;
  top: 20px;
  right: 0;
  transform: skewY(5deg);

  height: 50px;
  width: 45px;
  background: #999999;

  border-right: 5px solid grey;
  border-radius: 3px;

}

.safe-key-hole {
  position: absolute;
  top: 5px;
  right: 6px;

  background: black;


  height: 6px;
  width: 5px;

  border-radius: 50%;
}

.safe-key-hole-bottom {
  position: absolute;
  top: 10px;
  right: 7px;

  background: black;

  height: 6px;
  width: 3px;

}

.safe-lock{
  position: absolute;
  right: 105px;
  top: 220px;

  height: 20px;
  width: 20px;
}

.safe-open-top {
  position: absolute;
  top: 1px;
  right: 3px;
  height: 10px;
  width: 37px;
  transform: skewy(-5deg);
  background: #666666;
  border-radius: 3px;

}

.safe-open {
  position: absolute;
  top: 6px;
  right: 3px;


  height: 40px;
  width: 37px;
  background: #666666;
  border-radius: 3px;
}

.safe-door-open {
  position: absolute;
  top: 18px;
  right: 50px;

  height: 50px;
  width: 45px;
  background: #999999;

  border-left: 5px solid grey;
  border-radius: 3px;
}

/*/ KEY /*/

.key-div {
  position: absolute;
  right: 260px;
  bottom: 35px;

  width: 10px;
  height: 20px;
}

.key-head {

  height: 4px;
  width: 4px;
  border-radius: 50%;
  border: 3px solid gold;

}

.key-shaft {
  margin: auto;
  height: 11px;
  width: 3px;
  background: gold;
}

.key-teeth {
  position: absolute;
  bottom: 0;
  border-top: 2px solid gold;
  border-bottom: 2px solid gold;
  width: 4px;
  height: 2px;
}

/*/ LETTER /*/

.letter {
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 7px;
  width: 25px;
  background: beige;
  transform: skewX(75deg);
}

.open-letter {
  position: absolute;
  left: 300px;
  top: 50px;
  height: 500px;
  width: 400px;
  background: beige;
  z-index: 100;
}

.letter-clicker {
  position: absolute;

  top: 252px;
  right: 108px;

  transform: skewX(70deg);
  width: 30px;
  height: 10px;

  background: transparent;

}

.letter-clicker:hover {
  cursor: pointer;
}

.note {
  position: absolute;
  border-radius: 50%;
  height: 0;
  margin-top: 5px;
  width: 3px;
  border: 10px solid black;
}

.music-staffs {
  padding-top: 50px;
  width: 350px;
  margin: auto;
}

.music-staff-1 {
  height: 30px;

  border-top: 5px solid black;
  border-bottom: 5px solid black;

}

.music-staff-2 {
  height: 30px;

  border-bottom: 5px solid black;

}
.music-staff-3 {
  height: 30px;


  border-bottom: 5px solid black;
}

.music-staff-4 {
  height: 30px;


  border-bottom: 5px solid black;
}

.g-note-1 {

}

.g-note-2 {
  left: 210px
}

.e-note-1 {
  left: 150px;
}

.e-note-2 {
  left: 330px;
}

.c-note-1 {
  left: 90px
}

.c-note-2 {
  left: 270px
}
